body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header,
section,
footer {
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

//ul {
list-style-type: none;
padding: 0;
}

// ul li {
background: #e4e4e4;
margin: 5px 0;
padding: 10px;
border-radius: 5px;
}

.job,
.school,
.ta {
    margin-bottom: 20px;
}

//.school {  
background: #e4e4e4;
margin: 5px 0;
padding: 10px;
border-radius: 5px;

}